# If you prefer the allow list template instead of the deny list, see community template:
# https:/github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
g

.idea
.DS_Store
.history
.opencode

# 忽略 docs 目录
docs/

# 忽略 demoapp 下生成的代码
cmd/generate/example/apps/demoapp/**

# 但保留配置和路由入口（代码生成会追加内容）
!cmd/generate/example/apps/demoapp/go.mod
!cmd/generate/example/apps/demoapp/go.sum
!cmd/generate/example/apps/demoapp/config/
!cmd/generate/example/apps/demoapp/config/code_gen.yaml
!cmd/generate/example/apps/demoapp/internal/
!cmd/generate/example/apps/demoapp/internal/router/
!cmd/generate/example/apps/demoapp/internal/router/router.go

# 忽略 pkg 所有的文件，但保留一部分指定的文件
cmd/generate/example/pkg/**
!cmd/generate/example/pkg/dbclient/
!cmd/generate/example/pkg/dbclient/gorm.go
!cmd/generate/example/pkg/code/code.go
